/* Configuração de cores */
:root {
    --primary: #518581;
    --primary_light: #6E9996;
    --primary_lighter: #8BAEAB;
    --primary_lightest: #A8C2C0;
    --primary_soft: #C5D6D5;
    --primary_softest: #DCE7E6;
    
    --secondary: #FFB23F;
    --secondary_light: #FFBF5F;
    --secondary_lighter: #FFCC7F;
    --secondary_lightest: #FFD89F;
    --secondary_soft: #FFE5BF;
    --secondary_softest: #FFF0D9;

    --title: #151411; 
    --title_dark: #3C3B39;
    --title_darker: #636260;
    --title_darkest: #8A8988;
    --title_soft: #B1B1B0;
    --title_softest: #D0D0CF;

    --paragraph: #AFADB5; 
    --paragraph_light: #BCBBC1;
    --paragraph_lighter: #CAC8CE;
    --paragraph_lightest: #D7D6DA;
    --paragraph_soft: #E4E4E6;
    --paragraph_softest: #EFEFF0;

    --placeholder: #F9F9F9;
    --placeholder_light: #FAFAFA;
    --placeholder_lighter: #FBFBFB;
    --placeholder_lightest: #FCFCFC;
    --placeholder_soft: #FDFDFD;
    --placeholder_softest: #FEFEFE;

    --screen: #FFFFFF;
    --screen_darker: #F3F3F3;
}

.btn-primary {
	--bs-btn-bg: var(--primary);
	--bs-btn-border-color: var(--primary);
	--bs-btn-hover-bg: #6E9996;
	--bs-btn-hover-border-color: #8BAEAB;
	--bs-btn-active-bg: #8BAEAB;
	--bs-btn-active-border-color: #A8C2C0;
	--bs-btn-disabled-bg: var(--primary);
	--bs-btn-disabled-border-color: var(--primary);
  }

/* Configuração de fonte */
@font-face {
    font-family: 'Eudoxus Sans';
    src: url('Eudoxus-Sans-font/EudoxusSans-Regular.woff2') format('woff2'),
         url('Eudoxus-Sans-font/EudoxusSans-Regular.woff') format('woff'),
         url('Eudoxus-Sans-font/EudoxusSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Eudoxus Sans';
    src: url('Eudoxus-Sans-font/EudoxusSans-Medium.woff2') format('woff2'),
         url('Eudoxus-Sans-font/EudoxusSans-Medium.woff') format('woff'),
         url('Eudoxus-Sans-font/EudoxusSans-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Eudoxus Sans';
    src: url('fonts/EudoxusSans-Bold.woff2') format('woff2'),
         url('fonts/EudoxusSans-Bold.woff') format('woff'),
         url('fonts/EudoxusSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Eudoxus Sans', sans-serif;
}


h1, h2, h3, h4, h5, h6, label, .font_bold{
	font-weight: 700;
	
}

p{
	font-weight: 400;
	font-size: 14px;
	color: var(--paragraph);
}

.font_medium, a, li, ul{
	font-weight: 500;
}

.navbar {
	border-bottom: 2px solid var(--screen_darker);
	padding: 20px 0 20px 0;
}


.navbar-toggler, .dropdown-menu {
    border: none;
}

.nav-link{
	color: var(--title);
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar_title{
	font-weight: 700;
}

a{
	text-decoration: none;
}

.btn{
	border-radius: 0;
	border: none;
	font-size: 14px;
}

.input_search{
	background-color:var(--screen);
	border: none;
}

.input_search::placeholder{
	color: var(--paragraph_light);
}

.div_search{
	background-color:var(--screen);
	border:solid 10px var(--screen);
	padding: 0;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.090);
}

.input-group-icon {
	display: flex;
	align-items: center;
	color: var(--paragraph_light);
}

li{
	white-space: nowrap;
}

.title_secondary{
	font-weight: 700;
	color: var(--secondary);
	font-size: 1.2em;
}

.card_benefits{
	border:none;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
}

.btn_learn_more {
    position: relative;
    overflow: hidden;
}

.btn{
	border: 2px solid var(--primary);
}

.btn:hover{
	background-color: transparent;
	color: var(--primary);
}

.btn_learn_more:hover i{
	transform: translateX(100%); 
	transition: transform 0.5s ease;
}


/* Estilo para telas menores que 992px */
@media (max-width: 991.98px) {
    .nav_bar_items {
        text-align: left;
        justify-content: flex-start;
    }

	.nav_bar_items_icons{
		margin-left: 0;
	}
}

/* Estilo para telas maiores que 992px */
@media (min-width: 991.98px) {
    .nav_bar_items {
        text-align: center;
        justify-content: none;
    }

	.nav_bar_items_icons{
		margin-left: 16px;
	}
}